<?xml version="1.0" encoding="UTF-8"?>
<widget xmlns   = "http://www.w3.org/ns/widgets"
 xmlns:gap   = "http://phonegap.com/ns/1.0"
 id          = "edu.uab.business.studentapp"
 versionCode = "1"
 version     = "0.0.1" >


<!--versionCode is optional and Android only -->

<name>Andrea Birchfield Assignment 5</name>

<description>
    Andrea Birchfield Assignment 5

</description>

<author>
    Andrea L Birchfield
</author>

<preference name="phonegap-version" value="cli-6.5.0" />
<plugin name="cordova-plugin-whitelist" source="npm" />
<access origin="*" />


<plugin name="cordova-plugin-geolocation" spec="2.4.3" />
<plugin name="cordova-plugin-splashscreen" source="npm" />



    
    <preference name="SplashScreen" value="splash"></preference>
    <splash src = "splash.png" />
    <!--<splash src="splash.png" width="320" height="480"/>-->
   <!--<splash src="res/screen/ios/Default@2x~universal~splash.png" />-->
   
  

<preference name="SplashScreenDelay" value="5000" />

<icon src = "icon.png"/>

 <platform name="android">
        <!--
            ldpi    : 36x36 px
            mdpi    : 48x48 px
            hdpi    : 72x72 px
            xhdpi   : 96x96 px
            xxhdpi  : 144x144 px
            xxxhdpi : 192x192 px
        -->
        <icon src="res/android/icon.png" density="ldpi" />
        <icon src="res/android/icon.png" density="mdpi" />
        <icon src="res/android/icon.png" density="hdpi" />
        <icon src="res/android/icon.png" density="xhdpi" />
        <icon src="res/android/icon.png" density="xxhdpi" />
        <icon src="res/android/icon.png" density="xxxhdpi" />
    </platform>
 
 
 <platform name="ios">
        <!-- iOS 8.0+ -->
        <!-- iPhone 6 Plus  -->
        <icon src="icon.png" width="180" height="180" />
        <!-- iOS 7.0+ -->
        <!-- iPhone / iPod Touch  -->
        <icon src="icon.png" width="60" height="60" />
        <icon src="icon.png" width="120" height="120" />
        <!-- iPad -->
        <icon src="icon.png" width="76" height="76" />
        <icon src="icon.png" width="152" height="152" />
        <!-- Spotlight Icon -->
        <icon src="icon.png" width="40" height="40" />
        <icon src="icon.png" width="80" height="80" />
        <!-- iOS 6.1 -->
        <!-- iPhone / iPod Touch -->
        <icon src="icon.png" width="57" height="57" />
        <icon src="icon.png" width="114" height="114" />
        <!-- iPad -->
        <icon src="icon.png" width="72" height="72" />
        <icon src="icon.png" width="144" height="144" />
        <!-- iPad Pro -->
        <icon src="icon.png" width="167" height="167" />
        <!-- iPhone Spotlight and Settings Icon -->
        <icon src="icon.png" width="29" height="29" />
        <icon src="icon.png" width="58" height="58" />
        <!-- iPad Spotlight and Settings Icon -->
        <icon src="icon.png" width="50" height="50" />
        <icon src="icon.png" width="100" height="100" />
        <!-- iPad Pro -->
        <icon src="icon.png" width="167" height="167" />
    </platform>
 
     <platform name="windows">
        <icon src="icon.png" target="StoreLogo" />
        <icon src="icon.png" target="Square30x30Logo" />
        <icon src="icon.png" target="Square44x44Logo" />
        <icon src="icon.png" target="Square70x70Logo" />
        <icon src="icon.png" target="Square71x71Logo" />
        <icon src="icon.png" target="Square150x150Logo" />
        <icon src="icon.png" target="Square310x310Logo" />
        <icon src="icon.png" target="Wide310x150Logo" />
    </platform>
     
</widget>