<?xml version="1.0" encoding="UTF-8"?>
<widget xmlns   = "http://www.w3.org/ns/widgets"
 xmlns:gap   = "http://phonegap.com/ns/1.0"
 id          = "edu.uab.business.studentapp"
 versionCode = "1"
 version     = "0.0.1" >


<!--versionCode is optional and Android only -->

<name>Andrea Birchfield Assignment 5</name>

<description>
    Andrea Birchfield Assignment 5

</description>

<author>
    Andrea L Birchfield
</author>

<preference name="phonegap-version" value="cli-6.5.0" />
<plugin name="cordova-plugin-whitelist" source="npm" />
<access origin="*" />


<plugin name="cordova-plugin-geolocation" spec="2.4.3" />
<plugin name="cordova-plugin-splashscreen" source="npm" />



    
    <preference name="SplashScreen" value="splash"></preference>
    <splash src = "splash.png" />
    <!--<splash src="splash.png" width="320" height="480"/>-->
   <!--<splash src="res/screen/ios/Default@2x~universal~splash.png" />-->
   
  

<preference name="SplashScreenDelay" value="10000" />

<!--<icon src = "icon.png"/>-->
<icon src="uab.png" platform="ios" width="57" height="57" density="mdpi" />
 <platform name="android">
        <!--
            ldpi    : 36x36 px
            mdpi    : 48x48 px
            hdpi    : 72x72 px
            xhdpi   : 96x96 px
            xxhdpi  : 144x144 px
            xxxhdpi : 192x192 px
        -->
        <icon src="res/android/icon.png" density="ldpi" />
        <icon src="res/android/icon.png" density="mdpi" />
        <icon src="res/android/icon.png" density="hdpi" />
        <icon src="res/android/icon.png" density="xhdpi" />
        <icon src="res/android/icon.png" density="xxhdpi" />
        <icon src="res/android/icon.png" density="xxxhdpi" />
    </platform>
 
 
 
  
 

     <platform name="windows">
        <icon src="icon.png" target="StoreLogo" />
        <icon src="icon.png" target="Square30x30Logo" />
        <icon src="icon.png" target="Square44x44Logo" />
        <icon src="icon.png" target="Square70x70Logo" />
        <icon src="icon.png" target="Square71x71Logo" />
        <icon src="icon.png" target="Square150x150Logo" />
        <icon src="icon.png" target="Square310x310Logo" />
        <icon src="icon.png" target="Wide310x150Logo" />
    </platform>
     
</widget>